html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: var(--font-default);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	min-height: 1200vh;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	pointer-events: none;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	position: relative;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	position: fixed;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	opacity: 0;
	color: white;
	height: 100vh;
	width: 100%;
	padding: 5vh 5vw;

	// will-change: opacity;
}

section.align-right {
	// justify-content: flex-end;
	align-items: flex-end;
	text-align: right;
}

section.align-center {
	justify-content: center;
	align-items: center;
	text-align: center;
}

section.active {
	z-index: 99;
	pointer-events: all;
}

section.hero {
	position: relative;
	z-index: 1;
	opacity: 0;
	
	// will-change: opacity;
}

section > p {
	max-width: 60%;
}

@media screen and (min-width: 53em) {

	section {
		// font-size: 2.5vw;
	}

}