:root {
    --color-primary: #a5efdd;
    --color-primary--rgb: 165, 239, 221;
    --color-text: #ffffff;
	--color-bg: #222222;
	--color-link: #a5efdd;
    --color-link-hover: #ffffff;
    --font-default: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, 
                    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, 
                    Helvetica Neue, sans-serif;
}